.f-50px {
    flex: 0 0 50px;
}

input[type=text] {
    text-align: center;
}

@media (max-width: 767px) {
    .dt-only {
        display: none;
    }
}

@media (max-width: 767px) {
    .tb-only {
        display: none;
    }
}

@media (min-width: 768px) {
    .mb-only {
        display: none;
    }
    .col-md-20 {
        flex: 0 0 20%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .d-flex-md {
        display: flex;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .tb-not {
        display: none;
    }
}

@media (min-width: 992px) {
    .tb-only {
        display: none;
    }
}

